@charset 'uft-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(topBtn.css);

.sub__tit{
    position: relative;
    height: 350px;
    background: url(../img/per/tit_bg.jpg) 0 -250px;
    background-size: cover;
}
.sub__tit h2{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size:24px;
    font-weight:bold;
    color:#fff;
}

.sub__container{
    max-width: 1260px;
    height: auto;
    margin: 0 auto;
}
.sub__container .container__subClass,
.sub__container main {float: left;}

.sub__container .container__subClass{
    height: 100%;
}

.container__subClass .subClass__tit{
    width:180px;
    height:180px;
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    background-color:#222;
    color:#888;
}
.container__subClass .subClass__tit i{
    font-size:72px;
    margin:30px 0 10px 0;
}

.subClass__list li a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s;
    border-bottom:1px solid #555;
    font-size:16px;
    font-weight:bold;
    color:#555;
}
.subClass__list li a:hover{
    color: #eee;
    background: #555;
}

main{width: 1060px;}

main .main__content{
    padding: 50px 20px;
    text-align: center;
    height: 100%;
    margin: 0 auto;
}

.content__innerConts{
    width: 100%;
    height: auto;
}

.content_tit{
    box-sizing: border-box;
    padding: 10px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #555;
}
.content_tit .innerConts__tit{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}
.content_tit ul{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.content_tit li{
    float: left;
    font-size: 18px;
    text-align: left;
    width: 50%;
    color: #555;
}
.content_tit li:nth-of-type(2){
    text-align: right;
}
.content_tit span:after{
    content: "";
    clear: both;
    display: block;
}

.content__innerConts img{
    margin: 50px 0;
    width: 100%;
    height: 100%;
}


.prev_page{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    font-size: 16px;
    float: right;
    margin-bottom: 50px;
}
.prev_page:hover{
    background: #777;
    color: #fff;
}