@charset 'uft-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(topBtn.css);

/*상단 타이틀*/
.sub__tit{
    position: relative;
    height: 350px;
    background: url(../img/per/tit_bg.jpg) 0 -250px;
    background-size: cover;
}
.sub__tit h2{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size:24px;
    font-weight:bold;
    color:#fff;
}

.sub__container{
    max-width: 1260px;
    height: auto;
    margin: 0 auto;
}

/*왼쪽 서브메뉴*/
.sub__container{
    max-width: 1260px;
    height: auto;
    margin: 0 auto;
}
.sub__container .container__subClass,
.sub__container main {float: left;}

.sub__container .container__subClass{
    height: 100%;
}

.container__subClass .subClass__tit{
    width:180px;
    height:180px;
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    background-color:#222;
    color:#888;
}
.container__subClass .subClass__tit i{
    font-size:72px;
    margin:30px 0 10px 0;
}

.subClass__list li a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s;
    border-bottom:1px solid #555;
    font-size:16px;
    font-weight:bold;
    color:#555;
}
.subClass__list li a:hover{
    color: #eee;
    background: #555;
}

main{
    width: 1060px;
}
main .main__content{
    padding: 50px 20px;
    text-align: center;
    height: 100%;
    margin: 0 auto;
}


/*여기서부터 제작*/
.result_search{
    position: relative;
    width: 50%;
    height: 50px;
    margin: 0 auto;
}
.result_search .t_box{
    width: 75%;
    height: 100%;
    float: left;
    margin-left: 10px;
}
.result_search .submit{
    width: 20%;
    height: 100%;
    background: #555;
    cursor: pointer;
    float: right;
    margin-right: 3px;
    transition: all 0.5s;
}
.result_search .submit i{
    font-size: 24px;
    color: #fff;
}
.result_search .submit:hover{
    background: #fff;
}
.result_search .submit:hover i{
    color: #000;
    transform: scale(1.2);
}


.result_search .bar{
    position: absolute;
    display: block;
    background: #555;
}
.result_search .barTop{
    left: 0;
    top: 0;
    width: 0;
    height: 2px;
    animation: barTopBottom 1s ease-in-out 1s forwards;
}
.result_search .barRight{
    right: 0;
    top: 0;
    width: 3px;
    height: 0;
    animation: barRightLeft 1s ease-in-out 2s forwards;
}
.result_search .barBottom{
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    animation: barTopBottom 1s ease-in-out 2s forwards;
}
.result_search .barLeft{
    left: 0;
    top: 0;
    width: 3px;
    height: 0;
    animation: barRightLeft 1s ease-in-out 1s forwards;
}
@keyframes barTopBottom{
    0%{width: 0;}
    100%{width: 100%}
}
@keyframes barRightLeft{
    0%{height: 0;}
    100%{height: 100%}
}



.perf_list{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: left;
    margin-top: 20px;
}
.perf_list .order_list{
    float: left;
    width: 50%;
}
.perf_list .order_list a{
    box-sizing: border-box;
    margin-left: 10px;
    padding: 6px 15px;
    border: 1px solid #000;
    border-radius: 5px;
}
.perf_list .order_list a:hover{
    background: #f26b21;
    color: #fff;
}
.perf_list .perf_list_count{
    float: right;
    width: 10%;
    text-align: right;
    margin-right: 10px;
}
.perf_list .perf_list_count strong{
    color: #f00;
    font-weight: bold;
}


.perf_view{
    width: 100%;
    height: auto;
}
.perf_view ul{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.perf_view ul li{
    float: left;
    width: 25%;
    height: 450px;
}
.perf_view ul li .perf_view_wrap{
    width: 100%;
    height: 100%;
    position: relative;
}
.perf_view ul li img{
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    padding: 10px;
}
.perf_view ul li .perf_view_wrap_des{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: left;
    color:#555;

}
.perf_view ul li .perf_view_wrap_des h3{
    color:#222;
    font-size: 18px;
    font-weight:bold;
}
.perf_view ul li .perf_view_wrap_des h4{
    font-size: 14px;
}
.perf_view ul li .perf_view_wrap_des span{
    font-size: 14px;
    float: left;
}
.perf_view ul li .perf_view_wrap_des span:nth-of-type(2){
    float: right;
    color:#d32e2e;
}
.perf_view ul li .perf_view_wrap:hover .perf_view_wrap_mh{
    opacity: 1;
}


/*hover 했을 때*/
.perf_view_wrap .perf_view_wrap_mh{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    border:1px solid #000;
    transition:all 0.5s;
}

.perf_view_wrap .perf_view_wrap_mh a{
    width: 55px;
    float: left;
    display: block;
    padding: 10px 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-105%, -50%);
}
.perf_view_wrap .perf_view_wrap_mh a:nth-of-type(2){
    transform: translate(5%,-50%);
}
.perf_view_wrap .perf_view_wrap_mh a:hover{
    background-color:#fff;
    color:#d32e2e;
    font-weight:bold;
}


.pagenation{
    font-size: 16px; 
    text-align: center;
    margin-top: 30px;
}
.pagenation a{
    display: inline-block; 
    margin-right: 10px;
}
.pagenation > a:last-child{
    margin-right: 0;
}
.pagenation a.active, .pagenation a:hover{
    color: #ba000c; 
    text-decoration: underline;
}
