@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(topBtn.css);

.sub__tit{
    position: relative;
    height: 350px;
    /*background: #ccc;*/
    background: url(../img/tit_bg.jpg) 0 -250px;
    background-size: cover;
}
.sub__tit h2{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size:24px;
    font-weight:bold;
    color:#fff;
}

.sub__container{
    max-width: 1260px;
    height: auto;
    margin: 0 auto;
}
/*html .subClass__tit에 fontawesome을 이용해 적절한 아이콘을 넣어주세요. 

<h3 class="subClass__tit">
    <i class="fas fa-guitar"></i><br>공연&middot;전시&middot;행사
</h3>

와 같은 형식이 됩니다.*/

/*왼쪽 서브메뉴*/
.sub__container{
    max-width: 1260px;
    height: auto;
    margin: 0 auto;
}
.sub__container .container__subClass,
.sub__container main {float: left;}

.sub__container .container__subClass{
    height: 100%;
}

.container__subClass .subClass__tit{
    width:180px;
    height:180px;
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    background-color:#222;
    color:#888;
}
.container__subClass .subClass__tit i{
    font-size:72px;
    margin:30px 0 10px 0;
}

.subClass__list li a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s;
    border-bottom:1px solid #555;
    font-size:16px;
    font-weight:bold;
    color:#555;
}
.subClass__list li a:hover{
    color: #eee;
    background: #555;
}

main{width: 84.1269%; /*1060px*/ }

main .main__content{
    padding: 50px 20px;
    text-align: center;
}

.content__innerConts .innerConts__tit{
    font-size: 50px;
    margin-bottom: 30px;
}

.content__innerConts > p{
    margin-bottom:50px;
    font-size: 14px;
    word-break: keep-all;
}
