@charset 'uft-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(topBtn.css);

.sub__tit{
    position: relative;
    height: 350px;
    /*background: #ccc;*/
    background: url(../img/topBg/chungmuInfo.jpg) 0 -250px;
    background-size: cover;
}
.sub__tit h2{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size:24px;
    font-weight:bold;
    color:#fff;
}

.sub__container{
    max-width: 1260px;
    height: auto;
    margin: 0 auto;
}
.sub__container .container__subClass,
.sub__container main {float: left;}

.sub__container .container__subClass{
    height: 100%;
}

.container__subClass .subClass__tit{
    width:180px;
    height:180px;
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    background-color:#222;
    color:#888;
}
.container__subClass .subClass__tit i{
    font-size:72px;
    margin:30px 0 10px 0;
}

.subClass__list li a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s;
    border-bottom:1px solid #555;
    font-size:16px;
    font-weight:bold;
    color:#555;
}
.subClass__list li a:hover{
    color: #eee;
    background: #555;
}

main{width:1060px;height:auto;}
main .main__content{width:1000px;height:auto;margin:0 auto;}
main .main__content h2 {
    font-size: 40px;
    text-align: center;
    margin:40px auto;
    font-weight:bold;
}

main .main__content #wayList{
    width:100%;
    height:31px;
    text-align:center;
    margin-bottom:40px;
    border-bottom:1px solid black;
}
main .main__content ul>li{
    display:inline-block;
    width:33.1%;
}
main .main__content ul>li>a{
    display:block;
    width:100%;
    height:30px;
    font-size:16px;
    color:#555;
}
main .main__content ul>li:first-child>a{
    border:1px solid black;
    border-bottom:1px solid white;
    line-height:30px;
    font-weight:bold;
    color:#222;
}
#wayInfoExp{
    width:100%;
    padding:20px;
    margin: 20px auto 40px;
    text-align:center;
    background-color:#d32e2e;
    color:#F7CCCC;
    box-sizing:border-box;
}

#wayInfoExp h3{
    font-size:18px;
    font-weight:bold;
    color:white;
    margin-bottom:20px;
}
#wayInfoExp p span{font-weight:bold;color:white;}

.wayTraf{
    width:100%;
    height:220px;
    font-size:15px;
}

.wayTraf h3{
    width:100%;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #d32e2e;
    font-size:18px;
    color:#d32e2e;
    font-weight:bold;
}
.wayTraf ul li span{font-weight:bold;}

#wayInfoSub ul li{width:100%;}
#wayInfoSub ul li:nth-child(1) span{color:peru;}
#wayInfoSub ul li:nth-child(2) span,
#wayInfoSub ul li:nth-child(3) span{color:green;}
#wayInfoSub ul li:nth-child(4) span{color:steelblue;}
#wayInfoSub ul li:nth-child(5) span{color:slateblue;}

#wayInfoBus{height:150px;}
#wayInfoCar ul li{width:100%;}
#wayInfoBus ul li{width:100%;}

#wayInfoBus ul li:nth-child(1) span{color:royalblue;}
#wayInfoBus ul li:nth-child(2) span{color:green;}
#wayInfoCar span{color:#d32e2e;}